.divwp1{
    background: #000;
    padding-top: 50px;
}

.divwp2{
    padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00001.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;
}
.divwp3{
    padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00002.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;
}
.divwp4{
    padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00003.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;
}
.divwp5{
    padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00004.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;
}
.divwp6{
    padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00005.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;
}
.divwp7{
    padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00006.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;
}
.divwp8{
    padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00007.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;
}
.divwp9{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00008.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp10{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00009.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp11{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00010.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp12{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00011.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp13{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00012.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp14{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00013.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp15{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00014.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp16{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00015.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp17{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00016.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp18{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00017.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp19{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00018.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp20{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00019.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp21{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00020.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp22{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00021.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp23{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00022.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp24{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00023.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp25{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00024.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp26{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00025.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp27{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00026.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp28{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00027.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp29{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00028.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp30{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00029.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp31{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00030.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp32{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00031.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp33{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00032.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp34{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00033.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp35{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00034.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp36{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00035.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
.divwp37{padding: 20px;
    background-image: url(../../../public/img/White-Paper/WhitePaperLaci_00036.png);
    height: 700px;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 100px;}
